<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configure the current session context -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Database connection properties -->

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">5432</property>

        <!-- Other Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- First time it is create and then onwards update -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping files or annotated classes -->
        <!-- Add your entity classes or mapping files here, for example: -->
        <mapping class="com.example.hibernateexample.Employee"/>

    </session-factory>
</hibernate-configuration>
